{% extends 'index.html' %}
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">

<form class="create" method="POST" enctype="multipart/form-data"> 
    {% csrf_token %}
    <h3>Add New Items to Stock</h3>
    
    <label for="name">Item Name:</label><br>
    <input type="text" id="name" name="name" required/><br>
    
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" required/><br>
    
    <label for="quantity">Quantity:</label><br>
    <input type="number" id="quantity" name="quantity" required/><br>
    
    <label for="price">Price per Unit:</label><br>
    <input type="number" id="price" name="price" step="0.01" required/><br>
    
    <label for="supplier_name">Supplier Name:</label><br>
    <input type="text" id="supplier_name" name="supplier_name" required/><br>
    
    <label for="date">Date Added:</label><br>
    <input type="date" id="date" name="date"/><br>
    
    <label for="image">Image:</label><br>
    <input type="file" id="image" name="image" required/><br>
    
    <br>
    <button class="submit" type="submit">Submit</button>
</form>
{% endblock content %}
